.correct {
    background-color: white;
}

.incorrect {
    background-color: #F4CCCC;
}

td {
    border: 2px solid black;
    border-spacing: 0;
    padding: 10px;
}

th {
    border: 2px solid black;
    padding: 5px;
    font-weight: 600;
    font-size: 1vw;
}